﻿@{
    ViewBag.Title = "Server Monitor";
}
<form method="get" enctype="multipart/form-data">
    <div class="row">
        @* sv 01 *@
        <div class="col-xs-12 col-md-6">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title text-bold">Server 01</h3>
                    <div class="pull-right box-tools">
                        <h5>Time Stamp:</h5>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        @* C drive *@
                        <div class="col-lg-3 col-xs-4">
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>C:/</h3>

                                    <p>65.6 GB/120 GB</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-pie-chart"></i>
                                </div>
                            </div>
                        </div>
                        @* D drive *@
                        <div class="col-lg-3 col-xs-4">
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>D:/</h3>

                                    <p>100 GB/120 GB</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-pie-chart"></i>
                                </div>
                            </div>
                        </div>
                        @* E drive *@
                        <div class="col-lg-3 col-xs-4">
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>E:/</h3>

                                    <p>120 GB/120 GB</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-pie-chart"></i>
                                </div>
                            </div>
                        </div>
                        @* F drive *@
                        <div class="col-lg-3 col-xs-4">
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>F:/</h3>

                                    <p>10 GB/120 GB</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-pie-chart"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4 col-xs-6">
                            <canvas id="cpu01Chart" style="height: 385px; width: 770px; display: block" width="770" height="385"></canvas>
                        </div>
                        <div class="col-lg-4 col-xs-6">
                            <canvas id="ram01Chart" style="height: 385px; width: 770px; display: block" width="770" height="385"></canvas>
                        </div>
                        <div class="col-lg-4 col-xs-6">
                            <canvas id="disc01Chart" style="height: 385px; width: 770px; display: block" width="770" height="385"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* end sv01 *@
        @* sv 02 *@
        <div class="col-xs-12 col-md-6">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title text-bold">Server 02</h3>
                    <div class="pull-right box-tools">
                        <h5>Time Stamp:</h5>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        @* C drive *@
                        <div class="col-lg-3 col-xs-4">
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>C:/</h3>

                                    <p>65.6 GB/120 GB</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-pie-chart"></i>
                                </div>
                            </div>
                        </div>
                        @* D drive *@
                        <div class="col-lg-3 col-xs-4">
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>D:/</h3>

                                    <p>100 GB/120 GB</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-pie-chart"></i>
                                </div>
                            </div>
                        </div>
                        @* E drive *@
                        <div class="col-lg-3 col-xs-4">
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>E:/</h3>

                                    <p>120 GB/120 GB</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-pie-chart"></i>
                                </div>
                            </div>
                        </div>
                        @* F drive *@
                        <div class="col-lg-3 col-xs-4">
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>F:/</h3>

                                    <p>10 GB/120 GB</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-pie-chart"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4 col-xs-6">
                            <canvas id="cpu02Chart" style="height: 385px; width: 770px; display: block" width="770" height="385"></canvas>
                        </div>
                        <div class="col-lg-4 col-xs-6">
                            <canvas id="ram02Chart" style="height: 385px; width: 770px; display: block" width="770" height="385"></canvas>
                        </div>
                        <div class="col-lg-4 col-xs-6">
                            <canvas id="disc02Chart" style="height: 385px; width: 770px; display: block" width="770" height="385"></canvas>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button class="btn btn-block btn-success" id="btnSend">Send</button>
                    </div>
                </div>
            </div>
        </div>
        @* end sv02 *@
    </div>
</form>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            $('#btnSend').click(() => {
                $.post('@Url.Action("SendEmail")', (data) => {
                    console.log(data);
                });
            });

            var cpu01 = document.getElementById('cpu01Chart').getContext('2d');
            var cpu01Chart = new Chart(cpu01, {
                type: 'doughnut',
                data: {
                    labels: ['Usage', 'Available'],
                    datasets: [{
                        label: 'CPU',
                        data: [32, 68],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'

                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        position: 'bottom',
                        fontSize: 2
                    },
                    title: {
                        display: true,
                        text: 'CPU'
                    },
                    //showAllTooltips: true,
                    //tooltipTemplate: "<%= value %>",
                }
            });

            var ram01 = document.getElementById('ram01Chart').getContext('2d');
            var ram01Chart = new Chart(ram01, {
                type: 'doughnut',
                data: {
                    labels: ['Usage', 'Available'],
                    datasets: [{
                        label: 'Memory',
                        data: [99, 1],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'

                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        position: 'bottom'
                    },
                    title: {
                        display: true,
                        text: 'Memory'
                    }
                }
            });

            var disc01 = document.getElementById('disc01Chart').getContext('2d');
            var disc01Chart = new Chart(disc01, {
                type: 'doughnut',
                data: {
                    labels: ['Usage', 'Available'],
                    datasets: [{
                        label: 'Disk',
                        data: [2, 98],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'

                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        position: 'bottom'
                    },
                    title: {
                        display: true,
                        text: 'Disk'
                    }
                }
            });

            var cpu02 = document.getElementById('cpu02Chart').getContext('2d');
            var cpu02Chart = new Chart(cpu02, {
                type: 'doughnut',
                data: {
                    labels: ['Usage', 'Available'],
                    datasets: [{
                        label: 'CPU',
                        data: [32, 68],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'

                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        position: 'bottom',
                        fontSize: 2
                    },
                    title: {
                        display: true,
                        text: 'CPU'
                    }
                }
            });

            var ram02 = document.getElementById('ram02Chart').getContext('2d');
            var ram02Chart = new Chart(ram02, {
                type: 'doughnut',
                data: {
                    labels: ['Usage', 'Available'],
                    datasets: [{
                        label: 'Memory',
                        data: [99, 1],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'

                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        position: 'bottom'
                    },
                    title: {
                        display: true,
                        text: 'Memory'
                    }
                }
            });

            var disc02 = document.getElementById('disc02Chart').getContext('2d');
            var disc02Chart = new Chart(disc02, {
                type: 'doughnut',
                data: {
                    labels: ['Usage', 'Available'],
                    datasets: [{
                        label: 'Disk',
                        data: [2, 98],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'

                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        position: 'bottom'
                    },
                    title: {
                        display: true,
                        text: 'Disk'
                    }
                }
            });

            Chart.pluginService.register({
                beforeRender: function (chart) {
                    if (chart.config.options.showAllTooltips) {
                        // create an array of tooltips
                        // we can't use the chart tooltip because there is only one tooltip per chart
                        chart.pluginTooltips = [];
                        chart.config.data.datasets.forEach(function (dataset, i) {
                            chart.getDatasetMeta(i).data.forEach(function (sector, j) {
                                chart.pluginTooltips.push(new Chart.Tooltip({
                                    _chart: chart.chart,
                                    _chartInstance: chart,
                                    _data: chart.data,
                                    _options: chart.options.tooltips,
                                    _active: [sector]
                                }, chart));
                            });
                        });

                        // turn off normal tooltips
                        chart.options.tooltips.enabled = false;
                    }
                },
                afterDraw: function (chart, easing) {
                    if (chart.config.options.showAllTooltips) {
                        // we don't want the permanent tooltips to animate, so don't do anything till the animation runs atleast once
                        if (!chart.allTooltipsOnce) {
                            if (easing !== 1)
                                return;
                            chart.allTooltipsOnce = true;
                        }

                        // turn on tooltips
                        chart.options.tooltips.enabled = true;
                        Chart.helpers.each(chart.pluginTooltips, function (tooltip) {
                            tooltip.initialize();
                            tooltip.update();
                            // we don't actually need this since we are not animating tooltips
                            tooltip.pivot();
                            tooltip.transition(easing).draw();
                        });
                        chart.options.tooltips.enabled = false;
                    }
                }
            });

            var token = 'bWsfMkx8IRK5NT1wCLBT8rfK8FJyUvAVIYsixGk4Egn';

            $.ajax({
                url: 'https://notify-api.line.me/api/status',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                type: 'GET',
                headers: {
                    'Access-Control-Allow-Origin': '*',
                    'Authorization': 'Bearer ' + token,
                    'Content-Type': 'application/json'
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('เกิดข้อผิดพลาด! ' + textStatus);
                }
            });
        });
    </script>
}